// Import Bulma's core
@import "~bulma/sass/utilities/_all";

//declarar aqui as variáveis do sass
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// esse é um problema conhecido do bulma, sugeri isso em uma issue aberta no github do bulma
// https://github.com/jgthms/bulma/issues/2242
.columns {
  @extend .mx-0;
}
